<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <a href="/Home" class="navbar-brand p-0">
        @* <h1 class="m-0 text-primary"><i class="fa fa-tooth me-2"></i>PetCare & ecosystem</h1> *@
        <h1 class="m-0 text-primary">
            <i class="fa-solid fa-dog me-2"></i> PetCare & ecosystem
        </h1>


    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="/Home" class="nav-item nav-link active">Trang Chủ</a>
            <a href="/DichVu" class="nav-item nav-link">Dịch Vụ</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Chức Năng</a>
                <div class="dropdown-menu m-0">
                    <a href="price.html" class="dropdown-item">Kế Hoạch Giá</a>
                    <a href="/BacSi" class="dropdown-item">Bác Sỹ</a>
                    <a href="testimonial.html" class="dropdown-item">Lời Chứng Thực</a>
                    <a href="/BaiViet" class="dropdown-item">Bài Viết</a>
                    <a href="/DatLich" class="dropdown-item">Đặt Lịch</a>
                    
                </div>
            </div>
            <a href="/Home/ContactUS" class="nav-item nav-link">Liên Hệ</a>
            <a href="/DatLich" class="nav-item nav-link">Đặt Lịch</a>
        </div>      
    </div>
    <partial name="_LoginPartial"></partial>
</nav>
