@model PhongKhamThuCung.Models.EF.DichVu
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Thêm Dịch Vụ";

}
@section naviHeader {
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/Admin/DichVu_Service" class="nav-link active"> Dịch Vụ</a>
            </li>
        </ul>
}


<form asp-area="Admin" asp-controller="DichVu_Service" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="card container-fluid ">
        <div class="card-header d-flex ">
            <h2 class="card-title">Chi Tiết @ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class=" mb-3">
                <label asp-for="TenDichVu">Tên @ViewData["Title"]</label>
                <input asp-for="TenDichVu" type="text" class="form-control" placeholder="Nhập Tên Giới Thiệu">
                <span asp-validation-for="TenDichVu"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="MoTaNgan">Mô Tả Ngắn</label>
                <input asp-for="MoTaNgan" type="text" class="form-control" placeholder="Nhập Mô Tả Ngắn">
                <span asp-validation-for="MoTaNgan"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="MoTa">Mô Tả</label>
                <textarea asp-for="MoTa" type="text" class="form-control" placeholder="Nhập Mô Tả"></textarea>
                <span asp-validation-for="MoTa"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="GiaDichVu">Giá Dịch Vụ</label>
                <input asp-for="GiaDichVu" type="number" class="form-control" placeholder="Nhập Giá" />
                <span asp-validation-for="GiaDichVu"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="MaChuyenKhoa">Chuyên Khoa Dịch Vụ </label>
                <select class="form-control" asp-for="MaChuyenKhoa" asp-items="@ViewBag.DanhSachChuyenKhoa">
                </select>
            </div>
            <div class=" mb-3">
                <label asp-for="HinhAnh">Chọn Hình Ảnh </label>
                <input name="HinhAnh" type="file" placeholder="Nhập Hình Ảnh" class="form-control" />
                <span asp-validation-for="HinhAnh"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Active" type="checkbox">
                <span>Hoạt động</span>

            </div>
            <div class=" mb-3">
                <a class="btn btn-primary" href="/Admin/DichVu_Service">Thoát</a>
                <button class="btn btn-success">Thêm</button>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</form>

@section Scripts {
        <script>

        </script>
}