@{
    ViewData["Title"] = "Trang Chủ Admin";
}
@section naviHeader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin" class="nav-link active">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/LoaiTinTuc" class="nav-link">Loại Tin Tức</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/TinTuc" class="nav-link"> Tin Tức</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/GioiThieu" class="nav-link"> Giới Thiệu</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/QuangCao_adv" class="nav-link"> Quảng Cáo</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/DichVu_Service" class="nav-link"> Dịch Vụ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/UuDai" class="nav-link"> Ưu Đãi</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/ChuyenKhoa" class="nav-link"> Chuyên Khoa</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/BacSi" class="nav-link"> Bác Sĩ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/ThuCung" class="nav-link"> Thú Cưng</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/DatLich" class="nav-link"> Đặt Lịch</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/BinhLuan" class="nav-link"> Bình Luận</a>
        </li>
    </ul>
}
<h1 class="text-center">TRANG CHỦ ADMIN</h1>