@model PhongKhamThuCung.Models.EF.GioiThieu
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Thêm Giới Thiệu";

}
@section naviHeader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin" class="nav-link ">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/GioiThieu" class="nav-link active"> Giới Thiệu</a>
        </li>
    </ul>
}



<form asp-area="Admin" asp-controller="GioiThieu" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="card container-fluid ">
        <div class="card-header d-flex ">
            <h2 class="card-title">Chi Tiết @ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class=" mb-3">
                <label asp-for="TenGioiThieu">Tên Giới Thiệu</label>
                <input asp-for="TenGioiThieu" type="text" class="form-control" placeholder="Nhập Tên Giới Thiệu">
                <span asp-validation-for="TenGioiThieu"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="MoTaNgan">Mô Tả</label>
                <input asp-for="MoTaNgan" type="text" class="form-control" placeholder="Nhập Mô Tả Ngắn">
                <span asp-validation-for="MoTaNgan"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="NoiDung">Nội Dung</label>
                <textarea asp-for="NoiDung" class="form-control" placeholder="Nhập Nội Dung"></textarea >
                <span asp-validation-for="NoiDung"></span>
            </div>
            <div class=" mb-3">
                <label asp-for="HinhAnh">Chọn Hình Ảnh </label>
                <input name="HinhAnh" type="file" placeholder="Nhập Hình Ảnh" class="form-control" />
                <span asp-validation-for="HinhAnh"></span>
            </div>
            <div class=" mb-3">
                <input asp-for="Active" type="checkbox">
                <span>Hoạt động</span>

            </div>
            <div class=" mb-3">
                <a class="btn btn-primary" href="/Admin/GioiThieu">Thoát</a>
                <button class="btn btn-success">Thêm</button>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</form>

@section Scripts {
    <script>

    </script>
}